html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "Ubuntu", sans-serif;
}

:root {
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

section {
  height: 100%;
  width: 100%;
  background-color: hsl(206, 94%, 87%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  background: #fff;
  height: 71vh;
  width: 57vw;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 17px;
}



.sidebar {
  background: url("./assets/images/bg-sidebar-desktop.svg");
  height: 100%;
  background-repeat: no-repeat;
  border-radius: 15px;
  width: 40%;
  background-size: cover;
  padding: 20px;
  box-sizing: border-box;
}

h2 {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: hsl(229, 24%, 87%);
  font-weight: 400;
  padding: 5px;
}

.step-number {
  color: white;
  border: 2px solid white;
  padding: 5px;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.active-step {
  background-color: var(--Light-blue);
  border: 2px solid var(--Light-blue);
  color: var(--Marine-blue);
}

.step {
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.step p {
  text-transform: uppercase;
  color: #fff;
  font-size: 0.95rem;
  font-weight: 700;
}

.personal-information {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 17px 80px;
  margin-left: 17px;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  color: var(--Marine-blue);
  padding: 15px;
  border-radius: 8px;
  box-sizing: border-box;
  border: 2px solid hsl(229, 24%, 87%);
  margin-bottom: 25px;
  outline: none;
  cursor: pointer;
}

form input:focus {
  border-color: var(--Purplish-blue);
}

h1 {
  font-size: 2rem;
  padding-bottom: 16px;
  color: var(--Marine-blue);
  margin-top: 25px;
}

.subheading {
  font-weight: 400;
  color: hsl(231, 11%, 63%);
  margin-bottom: 43px;
}

label {
  font-size: 0.9rem;
  margin-bottom: 4px;
  color: var(--Marine-blue);
}

.form-label {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.name-error, .email-error , .phone-error{
    display: none;
    color: red;
}


.form-btn {
  padding: 15px 25px;
  align-self: flex-end;
  font-size: 16px;
  background-color: hsl(213, 96%, 18%);
  color: var(--Alabaster);
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
}

.select-your-plan,
.pick-addons,
.billing,
.end {
  width: 70%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 17px 80px;
  margin-left: 17px;
  text-align: left;
}

.select-plan {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 25px;
  margin-bottom: 25px;
}

.plan {
  border: 2px solid var(--Light-gray);
  flex: 1;
  border-radius: 8px;
  min-height: 170px;
}

.plan:hover {
  border-color: var(--Purplish-blue);
}

.plan img {
  padding: 30px 20px;
  scale: 1.3;
}

.plan h4 {
  margin-top: 15px;
  padding: 6px 15px;
}

.plan p {
  padding: 0 15px;
  color: var(--Cool-gray);
}

.selected-plan {
  border-color: var(--Purplish-blue);
  background-color: var(--Magnolia);
}

.toggle-plan {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  width: 100%;
  box-sizing: border-box;
  background: var(--Magnolia);
  border-radius: 8px;
}

.monthly,
.yearly {
  font-size: 18px;
  color: var(--Cool-gray);
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.monthly {
  color: var(--Marine-blue);
}

.toggle-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

.toggle-switch {
  background-color: var(--Marine-blue);
  width: 46px;
  height: 26px;
  border-radius: 16px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
  margin: 0 12px;
}

.toggle-switch::before {
  content: "";
  font-weight: 900;
  background-color: white;
  width: 18px;
  height: 18px;
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ddd;
  transition: 0.3s;
}

.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--Marine-blue);
}

.toggle-checkbox:checked + .toggle-switch::before {
  content: "";
  left: 24px;
  color: var(--Marine-blue);
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 15px 25px;
  align-self: flex-end;
  font-size: 16px;
  background-color: hsl(213, 96%, 18%);
  color: var(--Alabaster);
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
  width: 170px;
}

.back {
  width: 100%;
  font-weight: 700;
  color: var(--Cool-gray);
  font-size: 1.2rem;
  cursor: pointer;
}

.add-ons {
  display: flex;
  width: 100%;
  gap: 15px;
  flex-direction: column;
}

.add {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border: 2px solid var(--Light-gray);
  padding: 20px;
  border-radius: 6px;
  box-sizing: border-box;
}

.add:hover {
  border: 2px solid var(--Purplish-blue);
}

.addcheck {
  height: 18px;
  width: 18px;
}

.add-on-content {
  display: flex;
  gap: 25px;
  align-items: center;
}

.addon-text p {
  color: var(--Cool-gray);
}

.price {
  color: var(--Purplish-blue);
}

.billing-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--Magnolia);
  border-radius: 10px;
}

.billdata {
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 18px;
}

hr {
  height: 2px;
  width: 90%;
  background-color: var(--Light-gray);
}

.end {
  justify-content: center;
  align-items: center;
}

.end-text {
  text-align: center;
  width: 90%;
  color: var(--Light-gray);
}

.addOnBill{
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 18px;
    flex-direction: column;
}

.subbill{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.subbill span{
    width: fit-content;
}

.billcontent{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.total-bill{
    display: flex;
    justify-content:space-between;
    padding: 15px;
    color: var(--Cool-gray);
    align-items: center;
}

.total-bill-price{
    color: var(--Purplish-blue);
    font-weight: 700;
    font-size: 25px;
}


#form-footer-2{
    margin-top: 5vh;
}

#form-footer-3{
    margin-top: 7vh;
}

#form-footer-4{
    margin-top: 5vh;
}



@media (max-width: 426px) {
    section{
        align-items:flex-start ;
        background-color: #fff;
    }
    .main-container{
        height: 90vh;
        width: 100%;
        padding: 0;flex-direction: column;
        background-position: bottom;
        border-radius: 0;
        background-color: var(--Magnolia);
    }

    .sidebar{
        background: url(./assets/images/bg-sidebar-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 25%;
        width: 100%;
        display: flex;
        border-radius: 0;
        justify-content: center;
        box-sizing: border-box;
    }

    .step-info{
        display: none;
    }

    .step{
        align-items: flex-start;
        height: fit-content;
    }

    .personal-information, .select-your-plan, .pick-addons, .billing, .end {
        width: 90%;
        height: fit-content;
        box-sizing: border-box;
        margin-left: 0;
        padding: 20px;
        border-radius: 12px;
        position: absolute;
        top: 14vh;
        background: #fff;
        box-shadow: 0px 19px 31px 9px rgba(0,0,0,0.1);
    }

    .select-your-plan{
        height: fit-content;
    }

    .subheading{
        font-size:20px;
    }
    .plan{
        align-items: center;
        display: flex;
        min-height: 80px;
    }


    .select-plan{
        flex-direction: column;
    }

    .plan img {
        padding: 0px 15px;
    }

    .plan h4 {
        margin-top: 0;}

    .form-footer{
        width: 91%;
    }

    #next-step{
        position: fixed;
        bottom: 2vh;
        right: 4.5vw;
        width: 129.48px;
    }
    

    #form-footer-2{
        position: fixed;
        bottom: 2vh;
        right: 2.4vh;
    }

    #form-footer-3{
        position: fixed;
        bottom: 2vh;
        right: 2.4vh;
    }

    #form-footer-4{
        position: fixed;
        bottom: 2vh;
        right: 2.4vh;

    }


    }


